$heading-main-font-size: 24px;
$heading-font-size: 20px;
$label-font-size: 10px;

$containter-large-desktop-width: 1170px;
$containter-medium-desktop-width: 970px;
$containter-wide-tablets-width: 750px;
$containter-tablet-width: auto;

$modal-z-index: 5;
