.button {
  display: block;
  margin: 5px 3px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  transition: all .1s;
  background: $main;
  border-bottom: 3px solid #a74a2b;
  text-align: center;
  text-decoration: none;
  min-width: 50px;
  cursor: pointer;
  outline: none;

  &:hover, &:active {
    color: #fff;
    transform: translate(0, 5px);
  }
}

.button--default {
  @extend .button;
  background: #ccc;
  border-bottom: 3px solid #aaa;
}

.button-with-line-breaks-text {
  display: block;
  font-size: 10px;
}

@media $breakpoint-big-mobile {
  .button {
    flex-grow: 1;
    padding: 10px;
  }
  .button-with-line-breaks-text {
    font-size: 14px;
  }
  .short-word {
    padding: 0 14px;
  }
}