:global .show {
  display: block;
}

:global .hide {
  display: none;
}

:global .align-row {
  display: flex;
}

:global .align-center {
  text-align: center;
}

:global .unordered-list-circle {
  width: 100%;
  margin-left: 10px;
  list-style-type: disc;
  list-style-position: inside;
}