.app-container {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.app-main-content {
  width: 80%;
}

.app-menu {
  width: 20%;
}

@media $breakpoint-medium-desktop {
  .app-container {
    width: 970px;
  }
}

@media $breakpoint-wide-tablets {
  .app-container {
    width: 750px;
  }

  .app-main-content {
    width: 75%;
  }

  .app-menu {
    width: 25%;
  }
}

@media $breakpoint-tablet {
  .app-container {
    width: auto;
  }
}

@media $breakpoint-big-mobile {
  .app-container {
    flex-wrap: wrap;
  }

  .app-container--reverse {
    flex-wrap: wrap-reverse;
  }

  .app-main-content {
    width: 100%;
  }

  .app-menu {
    width: 100%;
  }
}
