@import '../variables/_variable.css';

.alert {
  display: flex;
  align-items: center;
  margin: 15px 0;
  background: $faux-white;
  border-radius: $half-round;
}

.alert--danger {
  border: 2px solid $danger;
}

.alert--success {
  border: 2px solid $success;
}

.alert--info {
  border: 2px solid $info;
}

.alert--icon {
  margin: 0 15px;
  padding: 5px;
  font-size: $heading-font-size;
  vertical-align: middle;
}

.alert--content {
  width: calc(100% - 115px);
  color: $font-content-color;
}
