@import '../variables/_variable.css';

.card {
  position: relative;
  width: calc((100% - 40px) / 4);
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.2);
}

.card__container {
  padding: 10px;
}

.card__title {
  font-size: $heading-font-size;
}

.card__image {
  display: block;
  width: 100%;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 70px;
  overflow: hidden;
}

.card__tag-item {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 3px;
  word-break: keep-all;
  background: #e8e8e8;
  border-radius: 5px;

  .card__tag-link {
    color: #999;
  }
}

@media $breakpoint-wide-tablets {
  .card {
    width: calc((100% - 20px) / 2);
  }
}

@media $breakpoint-big-mobile {
  .card {
    width: calc(100% - 10px);
  }

  .card__tag-list {
    max-height: 84px;
  }

  .card__tag-item {
    padding: 5px;
  }
}
