@import '../variables/_variable.css';

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 10px 0;
}

.feature-list__icon {
  width: 24px;
  height: 24px;
  margin: 0 10px 10px 0;
}

.feature-list__text {
  height: 24px;
  margin-right: 10px;
  padding: 0 2px;
  color: $font-hint-color;
  border: 1px solid $border-color;
  border-radius: $half-round;
}
