@import '../variables/_variable.css';

.footer {
  padding: 15px 15px 60px 15px;
  border-top: 1px dashed $border-color;
}

.footer__heading {
  margin: 0 0 10px 0;
  font-size: $heading-font-size;
}

.footer__column {
  flex-basis: calc((100% - 30px) / 4);
  box-sizing: border-box;
  padding: 0 5px;
}

.footer__column-2x {
  flex-grow: 2;
}

@media $breakpoint-medium-desktop {
  .footer {
    width: $containter-medium-desktop-width;
  }
}

@media $breakpoint-wide-tablets {
  .footer {
    flex-wrap: wrap;
    width: $containter-wide-tablets-width;
  }

  .footer__hot-topic {
    flex-wrap: wrap;
  }

  .footer__column {
    flex-basis: calc(100% - 30px);
    margin-bottom: 30px;
  }

  .footer__column-2x {
    flex-grow: 1;
  }
}

@media $breakpoint-tablet {
  .footer {
    width: auto;
    border-top: 0px dashed $border-color;
  }
}
