@import '../variables/_variable.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: $main;
  padding: 5px 20px;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5px;
}

.header__logo {
  display: block;
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
}

.header__title {
  display: block;
  font-size: 17px;
  color: #fff;
}

.header__searchbox {
  position: relative;

  .header__submit {
    position: absolute;
    right: 2px;
    top: 1px;
    margin: 0;
    padding: 3px 5px;

    &:hover, &:active {
      transform: translate(0, 1px);
    }
  }
}

.header__search-input {
  padding: 8px 6px;
  border-radius: 3px;
  border-style: none;
  outline: none;
}

@media $breakpoint-big-mobile{
  .header__nav {
    justify-content: center;
  }
}
