@import '../variables/_variable.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: $main;
  padding: 5px 20px;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5px;
}

.header__logo {
  display: block;
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
}

.header__title {
  display: block;
  font-size: 17px;
  color: #fff;
}

.header__searchbox {
  position: relative;

  .header__searchbox__cancel {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 25px;
    padding: 3px 0;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 100%;
    outline: none;
    background: #ddd;
    transition: all .1s;
    text-align: center;
    vertical-align: middle;

    &:hover, &:active {
      transform: translate(0, 1px);
    }
  }
}

.header__search-input {
  padding: 8px 6px;
  border-radius: 3px;
  border-style: none;
  outline: none;
}

@media $breakpoint-big-mobile{
  .header__nav {
    justify-content: center;
  }
}
