@import '../variables/_variable.css';

:local .store_control_buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0 0 -5px;
}

@media $breakpoint-big-mobile {
  :local .store_control_buttons {
    :global .button {
      flex-grow: 1;
      padding: 10px;
    }
    :global .button-with-line-breaks-text {
      font-size: 14px;
    }
    :global .short-word {
      padding: 0 14px;
    }
  }
}
