@import '../variables/_variable.css';

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  background: #eee;
}

.tag-list__item {
  box-sizing: border-box;
  margin: 5px 2px;
  padding: 5px;
  background: #e3e3e3;
  border-radius: 5px;
}

.tag-list__item__title {
  display: block;
  text-align: center;
}

.tag-list__item__link {
  display: block;
  font-size: 10px;
  color: $font-contnet-color;
}

.tag-list__item__icon {
  display: block;
}
